.login-section {
  margin-top: 10vh;
  height: 90vh;
}
.login-section > div {
  overflow: hidden;
}

.login-section > div > div {
  width: 500px;
  height: 498px;
}
.login-section img {
  width: 500px;
  height: 498px;
}

.login-section .form {
  padding: 10px 90px;
  gap: 20px;
}

.login-section .form button {
  font-size: 17px;
}

.login-section img {
  object-fit: cover;
}

@media (max-width: 1100px) {
  .login-section > div > div {
    width: 350px;
    height: 398px;
  }
  .login-section img {
    width: 350px;
    height: 398px;
  }

  .login-section .form {
    padding: 5px 30px;
  }
}

@media (max-width: 780px) {
  .login-section > div {
    flex-direction: column;
  }
  .login-section .img-container {
    display: none;
  }
}
