.navbar {
  position: fixed;
  top: 0;
  height: 10vh;
  z-index: 10;
  padding: 15px 50px;
}

.navbar .mobile-menu-toggle {
  display: none;
}
.mobile-menu {
  display: none;
  position: absolute;
  top: 10vh;
  left: 0;
}
.navbar .mobile-menu-toggle {
  display: hidden;
}
.desktop-menu {
  display: flex;
  gap: 30px;
}
.navbar > div a {
  font-size: 17px;
}
@media (max-width: 600px) {
  .navbar .mobile-menu-toggle {
    display: block;
  }
  .desktop-menu {
    display: none;
  }
  .mobile-menu {
    display: flex;
  }
  .navbar {
    padding: 15px 20px;
  }
}
