.mg-table{
    margin-top: 40px;
}

.statistics-cards {
    margin-top: 150px;
    width: 90%;
}

.statistics-card {
    width: 300px;
    height: 140px;
    text-align: center;
    padding: 20px;
}

.statistics-card-child{
    margin-top: 20px;
}

.add-cards {
    margin-top: 150px;
    width: 90%;
    height: auto;
}

.add-card {
    width: 350px;
    height: auto;
    text-align: center;
    padding: 30px;
}

.add-card h2{
    font-size: 20px;
}

.add-card-child {
    width: 100%;
}

.add-card input {
    background-color: rgb(49, 45, 45);
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    outline: none;
    color: white;
    height: 35px; 
    width: 100%;
  }

.add-card input::placeholder {
    color: white;
  }

.add-card-child input[type="number"] {
    padding: 10px;
    border-radius: 7px;
    outline: none;
    font-size: 11px;
    width: 70px;
    text-align: center;
}
  
.add-card-child input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.add-card-child input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}

.add-card-child input[type="file"] {
    padding: 10px;
    border-radius: 7px;
    outline: none;
    font-size: 11px;
    width: fit-content;
    margin: auto;
    text-align: center;
}

.add-card button{
    width: 60px;
    height: 30px;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    font-size: 15px;
}

.add-card button:hover{
    opacity: 70%;
}


.icon-dashboard {
    display: flex;
    width: 31px;
    height: 31px;
    background-image: url(../../assets/icons/humbleicons_dashboard.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.icon-stations {
    display: flex;
    width: 31px;
    height: 31px;
    background-image: url(../../assets/icons/carbon_branch.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.icon-coin-requests {
    display: flex;
    width: 31px;
    height: 31px;
    background-image: url(../../assets/icons/ph_coins.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.icon-money {
    display: flex;
    width: 31px;
    height: 31px;
    background-image: url(../../assets/icons/flowbite_dollar-outline.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    background-color: #16f81242;
}

.icon-users {
    display: flex;
    width: 31px;
    height: 31px;
    background-image: url(../../assets/icons/heroicons_users.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    background-color: #3666c65d;
}

.icon-rides {
    display: flex;
    width: 31px;
    height: 31px;
    background-image: url(../../assets/icons/ic_outline-train.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    background-color: #ffe60666;
}
