.test {
  margin-top: 10vh;
}

.hero2-section {
  min-height: 50vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero2-section > div {
  height: 50vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.742);
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 15px;
  padding: 20px;
  border-radius: 50%;
  text-align: center;
}
.stationInfo-section {
  margin-top: 5vh;
  padding: 0px 100px;
}

.stationRide-section {
  margin-top: 5vh;
  padding: 0px 250px;
}
