.test {
  margin-top: 10vh;
}

.hero2-section {
  min-height: 50vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero2-section > div {
  height: 50vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.742);
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 15px;
  padding: 20px;
  border-radius: 50%;
  text-align: center;
}
.stationInfo-section {
  margin-top: 5vh;
  padding: 15px;
}

.stationRide-section {
  margin-top: 5vh;
  padding: 15px;
}

.sender-message {
  align-self: flex-start;
  width: 50%;
}
.receiver-message {
  align-self: flex-end;
  width: 50%;
}

.chat-container {
  height: 400px;
  max-height: 400px;
  overflow-y: auto;
}

@media (max-width: 500px) {
  .chat-container p {
    font-size: 12px;
  }
}
